name: MYCI

# on:
#   push:
#     branches:
#     - master
#     paths:
#     - src/*

jobs:
  job1:
    runs-on: ubuntu-latest
    container:
      image: node:8
    steps:
    - uses: actions/checkout@v2
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
        node -v
    - name: Download Something
      run: wget 'https://download.mozilla.org/?product=firefox-latest-ssl&os=win64&lang=zh-CN'
